//******** form ************
.form {
  font-size: 15px;
  display: grid;
  align-self: center;
  justify-self: center;
  position: relative;

  &__title {
    font-size: 18px;
    line-height: 1.5;
  }

  &__body {
    padding: 20px;
    border: #DDDDDD 1px solid;
    border-radius: 3px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 5px;
  }

  &__input {
    color: white;
    min-width: 65%;
    height: 25px;
    background-color: rgba(221, 221, 221, 0.2);
    border-radius: 3px;
    padding: 5px;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;

    &:focus {
      box-shadow: #DDDDDD 0px -2px 5px;
    }

    &:hover {
      box-shadow: #DDDDDD 0px -2px 5px, #DDDDDD 0px 2px 5px;
    }
  }

  &__wrap-radio-btn {
    width: 65%;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-areas:
  "radio-btn1 radio-btn2"
  "radio-btn3 radio-btn4";


    #radio-btn1 {
      grid-area: radio-btn1;
    }

    #radio-btn2 {
      grid-area: radio-btn2;
    }

    #radio-btn3 {
      grid-area: radio-btn3;
    }

    #radio-btn4 {
      grid-area: radio-btn4;
    }
  }

  &__submit {
    border: #DDDDDD 1px solid;
    color: white;
    margin-top: 10px;
    height: 30px;
    border-radius: 3px;
    font-weight: 700;
    min-width: 40%;
    padding: 0 5px;
    align-self: center;
    transition: all 0.2s ease-in;
    background-color: rgba(221, 221, 221, 0.2);

    &:hover {
      transform: scale(1.05, 1.05);
      box-shadow: #DDDDDD 0px -2px 5px, #DDDDDD 0px 2px 5px;
    }
  }

  &__error {
    display: block;
    color: red;
    font-size: 12px;
    text-align: center;
  }

  &__body--radio-btn {
    flex-direction: row;
  }

  &__label--radio-btn {
    display: block;
  }

  &__input--radio-btn {
    width: 21px;
    height: 21px;
    margin-top: 5px;

    &:hover {
      border-radius: 10px;
      box-shadow: none;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &__submit--big {
    width: 100%;
  }

  &__input--file {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 80%;
  }

  &__photo {
    position: absolute;
    right: -25%;
    top: 0;
  }

  &__photo-inner {
    border-radius: 100%;
    border: 1px solid white;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__input-upload-img {
    position: absolute;
    right: -25%;
    top: 0;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    cursor: pointer;
    opacity: 0;
  }
}

//********* form **************