@import "null_style"; // импорт обнуляющего стиля
@import "header"; //
@import "footer"; //
@import "main"; //
@import "form"; //
@import "nav"; //

//********* body **************
body {
  font-family: sans-serif;
  color: white;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  border: #DDDDDD;
  background: url(../../img/background.jpg) 0 0/cover no-repeat fixed;
}

//********* body **************













